#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2670%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient2671%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1217.89 375.73a1.24 1.24 0 1 0 2.31 0.9z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M932.57 527.19 a20.79 20.79 0 1 0 41.58 0 a20.79 20.79 0 1 0 -41.58 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M516.95 392.11L564.29 392.11L564.29 420.78L516.95 420.78z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1089.8 467.76a16.08 16.08 0 1 0 22.95 22.54z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M860.75 42.74L867.58 42.74L867.58 47.85L860.75 47.85z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1311.54 399.15L1336.04 399.15L1336.04 423.65L1311.54 423.65z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M627.5 448.36L637.6 448.36L637.6 458.46L627.5 458.46z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M756.07 322.19 a15.26 15.26 0 1 0 30.52 0 a15.26 15.26 0 1 0 -30.52 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1254.78 522.44L1260.88 522.44L1260.88 528.54L1254.78 528.54z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M510.33 115.57 a22.99 22.99 0 1 0 45.98 0 a22.99 22.99 0 1 0 -45.98 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M856.69 353.41L905.61 353.41L905.61 399.95L856.69 399.95z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M103.05 434.9a18.18 18.18 0 1 0 11.68-34.43z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M141.49 510.21L143.18 510.21L143.18 539.38L141.49 539.38z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1236.41 133.6L1250.36 133.6L1250.36 147.55L1236.41 147.55z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1322.25 456.22L1341.72 456.22L1341.72 475.69L1322.25 475.69z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M502.49 187.14L520.01 187.14L520.01 204.66L502.49 204.66z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1236.79 343.25L1273.45 343.25L1273.45 371.25L1236.79 371.25z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M556.89 445.47L595.92 445.47L595.92 484.5L556.89 484.5z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1068.2 441.53 a24.75 24.75 0 1 0 49.5 0 a24.75 24.75 0 1 0 -49.5 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1130.07 70.58 a46.2 46.2 0 1 0 92.4 0 a46.2 46.2 0 1 0 -92.4 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1202.16 202.08 a11.59 11.59 0 1 0 23.18 0 a11.59 11.59 0 1 0 -23.18 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M380.35 270.16a49.22 49.22 0 1 0-98.41 2.69z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1155.08 253.82L1182.62 253.82L1182.62 281.36L1155.08 281.36z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M594.99 303.12 a14.29 14.29 0 1 0 28.58 0 a14.29 14.29 0 1 0 -28.58 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M-44.83 417.63 a52.64 52.64 0 1 0 105.28 0 a52.64 52.64 0 1 0 -105.28 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1033.91 277.03a41.67 41.67 0 1 0-24.27-79.73z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M343.05 401.5a33.38 33.38 0 1 0 46.85 47.56z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1224.59 458.53a26.1 26.1 0 1 0-48.45 19.43z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M571.46 414.42L616.34 414.42L616.34 459.3L571.46 459.3z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M341.28 533.44L393.1 533.44L393.1 563.25L341.28 563.25z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M576.04 111.91L620.34 111.91L620.34 152.16L576.04 152.16z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M25.63 224.08a42.64 42.64 0 1 0-26.23-81.14z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M444.98 26.73a23.66 23.66 0 1 0-13-45.5z' stroke='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2670'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2671'%3e%3cstop stop-color='rgba(163%2c 106%2c 143%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 123%2c 203%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.sticker-container {
  position: relative;
  display: inline-block;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  /* background-color: #fff; */
}

.button-container button {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.button-container button:hover {
  background-color: #388e3c;
}

.sticker-container h2 {
  position: relative;
  z-index: 1;
  font-size: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

h1 {
  font-size: 2vw;
  text-shadow: 1px 3px 4px #d3f0d5;

  margin-bottom: 1rem;
}

h2 {
  font-size: 3vw;
  color: whitesmoke;
}

.counter {
  font-size: 1vw;
  margin-top: 10px;
  color: #555;
}

.button-container button {
  background-color: #5edd62;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.read-the-docs {
  color: #888;
}

.wait {
  margin-top: 1rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.spinner {
  display: inline-block;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  container {
    width: 100vw;
  }
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4vw;
  }

  .counter {
    font-size: 3vw;
  }

  .button-container button {
    font-size: 1.2rem;
  }
}
